html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: black;   
}

body {
    background: white;
    line-height: 25px;
}

header {
    text-align: center;
    background: url(imagini/background.jpg);
    background-size: cover;
    background-position: 0% 0%;
    color: white;
}
.image{
       width: 500px;
    height: 450px;
	/*object-fit: cover;*/
}
.image-home{
	width: 650px;
    height: 450px;
	padding: 35px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    background: rgba(0, 0, 0, 0.5);
    border-radius: 6px;

}

.space {
    height: 200px;
}
/*bara meniu*/
.clearfix {
    
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0;
    padding: 10px;
    overflow: hidden;


}
.clearfix li {
    display: inline;
    padding-top: 0px;
    padding-right: 30px;
    padding-bottom: 0px;
    padding-left: 30px;
	float: right;
}

.clearfix li a {
    float:right;
    text-decoration: none;
    color: white;
}

.clearfix li a:hover {
    color: #afafaf;
}

article {
    text-align: center;
    background: white;
    background-size: cover;
    background-position: 0% 60%;
    padding-right: 20px;
    padding-bottom: 16px;
}

h1 {
    font-size: 2.5em;
}

footer {
    background: black;
    color: white;
    text-align: center;
    padding: 10px;
}





.dropbtn {
    background-color: black;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 6px;
    margin: 1.5px;
    cursor: pointer;
}

.dropdown-content a:hover {
    background: rgba(0, 0, 0, 0.5);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background: rgba(0, 0, 0, 0.5);

}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content a {
    background-color: black;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropup {
    position: relative;
    display: inline-block;
}

.dropup-content{ 
    display: none;
    position: absolute;
    bottom: 40px;
    background-color: #f1f1f1;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.dropup-content-edit-info { 
    display: none;
    position: absolute;
    bottom: 40px;
    background-color: #f1f1f1;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropup-content a {
    background-color: #000;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 6px;
	width: 91px;
}

.dropup-content-edit-info .edit-info{
	background-color: #000;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 6px;
	width: 141px;
	border:0px;
}

.dropup-content a:hover {
    background: rgba(0, 0, 0, 0.5);
}
.dropup-content-edit-info .edit-info:hover {
    background: rgba(0, 0, 0, 0.5);
}


.dropup:hover .dropup-content {
    display: block;
}
.dropup:hover .dropup-content-edit-info {
    display: block;
}

.dropup:hover .dropbtn {
    background-color: black;
    color: white;
}

.search input {
    
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    border: none;
    font-size: 17px;
    width: 50%;
    display: inline-block;
}

p, h3{
    text-align: center;
    text-indent: 50px;
    letter-spacing: 0.3px;
    line-height: 0.8;
    font-style: italic;
}

.footer li {
    display: inline;
    text-decoration: none;
    text-align: center;
    color:white; 
    word-spacing: 2.5px;
}

.footer li a{
    color:white;
}
form{
	display:inline;
}



/*popup*/
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}

.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}