html {
    background-image: url(imagini/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    margin-bottom:20px;
}

header {
    text-align: center;   
    color: white;
}

.space {
    height: 200px;
}

/*bara meniu*/
.clearfix {
    
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0;
    padding: 10px ;
    overflow: hidden;


}

.clearfix li {
	display: inline;
    padding-top: 0px;
    padding-right: 30px;
    padding-bottom: 0px;
    padding-left: 30px;
	float: right;
}

.clearfix li a {
    float:right;
    text-decoration: none;
    color: white;
}

.clearfix li a:hover {
    color: #afafaf;
}


/*
size  window
*/

.body_wrapper{
	margin-top:0;
	padding:0;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    background-color: white;
}

/*
Containers design
*/

.little_icon_container{
    height: fit-content;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
}

.icon{
    width:100px;
    margin-top: 15px;
}

/*
buton upload 
*/

.dropbtn {
    background-color: black;
    border: none;
    color: white;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 6px;
    margin: 1.5px;
    cursor: pointer;
}

.formUpload {
	padding: 10px;
	
}	

